<div class="panel panel-primary">
  <div class="panel-heading">
    <span ng-bind="::topic.title"></span>
    <current-time class="pull-right"></current-time>
  </div>
  <div class="panel-body">
  	<img ng-src="{{detail.user.picture.large}}" ng-click="detail.loadMeizi()" alt="...">
    <div class="caption">
      <h3>{{detail.user.name.first + ' ' + detail.user.name.last}}</h3>
      <p ng-bind="detail.user.email"></p>
      <p ng-bind="detail.user.phone"></p>
    </div>
  	<h3>{{'友情提示:点击头像换个妹子'}}</h3>
  </div>
</div>
