.home {
	h1 {
  	font-family: "Comic Sans MS", Helvetica, Italic, sans-serif;
	}
	
	main {
	  padding: 1em;
	  font-family: Arial, Helvetica,Italic, sans-serif;
	  text-align: center;
	  margin-top: 50px;
	  display: block;
		
		a {
			color: #03A9F4;
		}
	}
	
	footer {
	  text-align: center;
	  font-size: 0.8em;
	}
}
